<div class="row">
  <div class="span1">
    <%= image_tag("Hero_Icon.png", alt: "Hero_Icon", size: "75x75", style: "padding-top: 12px; padding-left: 14px;")%>
  </div>
  <div class="span10">
    <h2 style = "padding-top: 12px;" >Welcome to HeroBook 1.2</h2>
  </div>
</div>
  <div class="span10">
    <p>
      This little rails app is what I call my <i>"role-playing social networking simulation"</i>. 
    <h5>Features:</h5>
      In HeroBook 1.2 you can:
      <ul>
        <li>create an account</li>
        <li>create a hero</li>
        <li>post statuses</li>
        <li>watch your hero perform actions beyond your control</li>
     </ul>
    <h5>To use:</h5>
      <ul>
        <li>If have an existing account go ahead and click on the <i>"Log in"</i> link located on the right side of the top menu.</li>
        <li>If you're new check out the following text and consider signing up.</li>
        <li>Either way you can always click on "All Statuses" to see what other users are saying.</li>
        <li>User Icons are currently obtained via <a href='https://en.gravatar.com/' target='_new'>Gravatar</a> by matching your user email to your Gravatar profile.
      </ul>
    <h5>Development:</h5>
      I have setup a <a href='https://bitbucket.org/diazj746/herobook' target='_new'>Bitbucket</a> repository for this code base. Don't worry there will be plenty of bugs for everyone.
      <br> Please <%= mail_to "herobookmailer@gmail.com", "contact me", subject: "I was just at HeroBook and..." %> directly if you want to collaborate.

    </p>
    <hr>
    <h2>About HeroBook</h2>
    <p>
      In the last decade we saw social networks evolve from blog-like services into highly integrated communication and media access points. Suddenly, it is second nature for people to chat on Facebook or follow each other on Twitter from almost any internet enabled device.
    </p><p>
      My interest in social network design began accidentally while researching a web application framework called Ruby on Rails. I had came across a resource project called <a href='http://teamtreehouse.com/library/build-a-simple-ruby-on-rails-application' target='_blank'>TreeBook</a>, which was developed for Rails version 3 and had not been updated to work under Rails version 4. The process of updating and extending this resource would become my first venture into both Ruby on Rails as well as into social network architectures and design. From it, I began to think about the way I typically use social networks and wondered why I would want to make one in the first place.
    </p><p>
      You see, when it comes to Facebook I am kind of a "lurker". Often I just read the statuses that appear on my news feed but seldom post anything myself. I found that it was interesting how little control I had over what appeared on my news feed as well as the random nature of all the information displayed.
    </p><p>
      Perhaps it was my background in <a href='http://www.mobygames.com/developer/sheet/view/developerId,61047/' target = '_blank'>game development</a>, but I started to wonder about the types of interactions and behaviors I could elicit from users if I restricted some form of status control from them. The idea reminded me of pen and paper role playing games, in which players are typically at the mercy of dice rolls within a campaign created by a "Dungeon Master" player. So I changed the theme of a traditional social networking site into something akin to a role-playing social networking simulation.
    </p><p>
      In short I wondered: “What would people do with a social networking site in which they generated updates that were not 100% up to their control?”
    </p>
    <p>This project is the initial result.</p>
    <hr>
    <h2>The 3 Rules for Simplicity</h2>
    <p>
      HeroBook's design goal is to adhere to simple rule sets in an attempt to generate an experience distilled from unnecessary feature bloat. The rules as of 4/9/15 are as follows:
      <ol>
        <li><b>Keep user to user communication simple</b>. Users can interact with one another via status updates and nothing else.</li>
        <li>The user is given <b>restricted choices</b> which result in <i>"action"</i> updates for their hero. Currently these consist of:</li>
          <ul>
            <li>Shake a leg (or move)</li>
            <li>Adventure</li>
          </ul>
        <li>The app should take <b>minutes to master and hours to experience</b>. Watching and learning from the users to reduce usability friction but without increasing learning curve by adding more features.
        </li>
      </ol>
      <p>
        Eventually, the heroes will adventure together if they happen to be in the same <i>"Hero-World"</i> location.
      </p>
    </p>
    <hr>
    <p>
      <h2>Visual Development</h2>
      <p>
        When I began working on Rails I expected the majority of the project would be spent learning the architecture and implementing the various functional components of the web application. This effort would leave little time for graphic design and visual development. With this in mind I embraced a minimalist approach to design which was driven by <b>clarity</b> and <b>simplicity</b> as the primary goals.
        <ul>
          <li>To satisfy the <b>clarity goal</b> the site would do away with excessive iconography and terms which could result in user confusion.</li>
          <li>To satisfy the <b>simplicity</b> goal I focussed on a limited number of views which would be accessible from the main menu.</li>
        </ul>
      </P>
      <p>
        Finally, this beautifull Hero icon and site logo were created by the very talented <a href='http://robyndiaz.com/'>Robyn Diaz</a>.
      </p>
      <%= image_tag("Hero_Generic.png", alt: "Hero Generic", size: "200x200")%>
      <%= image_tag("Hero_Icon.png", alt: "Hero_Icon", size: "200x200")%>
    </p>
  </div>
</div>