<!-- Displays the hero stats -->
<%
	unless current_user.nil?
	myHero = current_user.getHero(current_user.id)
%>
		<% unless myHero.nil? %>
			<div class="hero-stats">
			<table id="heroTable">
				<title>Your Hero</title>
				<tr>
					<th rowspan="6">
						<%= image_tag("Hero_Generic.png", alt: "Hero Generic", size: "100x100")%>
					</th>
					<th>Hero Name</th>
					<td><%= myHero.name %></td>
				</tr>
				<tr>
					<th>Level</th>
					<td><%= myHero.level %></td>
				</tr>
				<tr>
					<th>Gear</th>
					<td>
						<%= myHero.weapon %>
						<br>
						<%= myHero.armor %>
					</td>
				</tr>
				<tr>
					<th>Location</th>
					<td><%= myHero.location %></td>
				</tr>
				<tr>
					<th>Gold</th>
					<td><%= myHero.gold %></td>
				</tr>
				<tr>
					<th>Status</th>
					<td><%= myHero.state %></td>
				</tr>
			</table>
		</div>
	<%end%>
<% end %>