<div class = "page-header">
  <h3>All Statuses for <%= @user.profile_name %></h3>
  <%=
  #Helper Rails method
    image_tag @user.gravatar_url
  %>
</div>
<!--TODO: Remove duplicate code from statuses/show -->
<% if @statuses %>
<!-- TODO: Create unique css for this view -->
  <% @statuses.each do |status| %>
    <div class="status-scroller">
      <div class="status-scroller-content" >
        <div class="status" >
          <div class="row">
            <div class = "display-status" style = "padding-right: 10px; padding-left: 40px;">
              <p>
                <strong>From:</strong>
                <% unless status.user.nil? %>
                  <%= status.user.getProfile %>
                <% end %>
                <strong>&nbspTo:</strong>
                <% unless status.recipient_id.nil? %>
                  <%= status.recipient(status.recipient_id).getProfile %>
                <% end %>&nbsp
                <%= link_to time_ago_in_words(status.created_at), status_path(status) %> ago
              </p>
              <p><%= status.content %></p>
              <span class="admin">
                | <%= link_to "Edit", edit_status_path(status) %>
                <% if current_user.nil? == false && current_user.getProfile == 'Admin' %>
                | <%= link_to "Delete", status, method: :delete, data: { confirm: "Are you sure you want to delete this status?" } %>
                <% end %>
              </span>
            </div>
            <div style="text-align: left;">
                <%= image_tag status.user.gravatar_url, alt: "Hero_Icon", size: "50x50" %>
                <% unless status.user.id == status.recipient_id %>
                  <%= image_tag status.recipient(status.recipient_id).gravatar_url, alt: "Hero_Icon", size: "50x50" %>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%end%>
<% else %>
  <div class="well">
    <hr />
    No statuses to display.
  </div>
<%end%>