<div class="row">
  <div class="span6">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, html: {class: "well"}) do |f| %>
      <%= devise_error_messages! %>
      <fieldset>
        <legend> Edit <%= resource_name.to_s.humanize + " : " + current_user.getProfile.to_s %></legend>
          <div class="field">
              <%= f.input :first_name %>
              <%= f.input :last_name %>
              <%= f.input :profile_name %><br>
          </div>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "off" %>
          </div>

          <div class="actions">
            <%= f.submit "Update" %>
          </div>
        </fieldset>
      <% end %>
      <fieldset>
        <legend>Cancel my account</legend>
        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
        <%= link_to "Back", :back %>
      </fieldset>
  </div>
  <div class="span6">
    <h2>Edit!</h2>
    <%= image_tag("Hero_Icon.png", alt: "Hero_Icon")%>
  </div>
</div>