<div class="row">
  <div class="span4">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "well"}) do |f| %>
    <%= devise_error_messages! %>
    <fieldset>
      <legend>Register</legend>
      <% # Label and Input field %>
      <div>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :profile_name %><br>
      </div>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %><br><br>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %><br><br>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    </fieldset>
  <% end %>
  </div>
  <div class="span8">
    <h2>Join!</h2>
    <%= image_tag("LordSteve.jpg", alt: "Lord Steve!")%>
  </div>
</div>
  <%= render "devise/shared/links" %>
