<%= 
# Using simple_form structure, object, options bootstrap style
simple_form_for(@status, html: {class: "form-horizontal"}) do |f| 
%>
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% @status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :content %>
  <div class="form-actions">
    <%= 
    # Automated simple_form submit style
    f.button :submit
    %>
  </div>
<% end %>
