<%= 
# Using simple_form structure, object, options bootstrap style
simple_form_for(@status, html: {class: "form-horizontal"}) do |f| 
%>
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% @status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= 
    # SimpleForm provides collections for creating drop down options
    # label_method is a function modify the html selection label independenty from the option value
    # NOTE: You must pass the user class "getProfile" method as a symbol ":"
    f.input :recipient_id, collection: User.all.order(profile_name: :asc), label_method: :getProfile, :selected  => current_user.id
  %>
  <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
  <%= f.input :content %>
  <div class="form-actions">
    <%= 
    # Automated simple_form submit style
    f.button :submit
    %>
  </div>
<% end %>
