<!-- Modified index html from default -->
<div id="heroPartialContent" class = "status-title">
  <% if user_signed_in? %>
    <%= render partial: "profiles/hero" %>
  <% end %>
</div>
<div class="status-col">
  <h3 style="margin-bottom: 0; padding-bottom: 0;">User musings</h3>
  <h5 style="margin-top: 0; padding-top: 0;"> (aka. last 10 Statuses) </h5>
  <%= link_to "Post New Status", new_status_path, class: "btn btn-info" %>
  <br>
  <div class="status-scroller">
    <div class="status-scroller-content">
      <% @statuses.each do |status| %>
        <div class="status">
          <% unless status.user.nil? %>
            <% fromUser = status.user.getProfile %>
            <div class="row">
              <div class="display-gravatar">
                <%=
                #Helper Rails method
                  image_tag status.user.gravatar_url
                %>
              </div>
              <div class = "display-status">
                <!-- ERB Tags with = are echoing the variables -->
                <strong>From:</strong>
                    <%= fromUser %>
                <strong>&nbspTo:</strong>
                 <% unless status.recipient_id.nil? and status.recipient(status.recipient_id).nil? %>
                    <%= status.recipient(status.recipient_id).getProfile %>
                  <% end %>
                <p><%= status.content %></p>
                <div class="meta">
                  <%= link_to time_ago_in_words(status.created_at) + " ago", status %>
                  <span class="admin">
                    <% if current_user.nil? == false && current_user.getProfile == fromUser %>
                      | <%= link_to "Edit", edit_status_path(status) %>
                    <% end %>
                    <% if current_user.nil? == false && current_user.getProfile == 'Admin' %>
                      | <%= link_to "Delete", status, method: :delete, data: { confirm: "Are you sure you want to delete this status?" } %>
                    <% end %>
                  </span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% if user_signed_in? %>
  <%
    hero = current_user.getHero(current_user.id)
    unless hero.nil?
  %>
    <div id="actionsPartialContent" class="actions-col">
      <%= render partial: "actions/index"%>
    </div>
  <% end %>
<% end %>