<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @status.user.getProfile %>
  <strong>&nbspTo:</strong>
  <%= @status.recipient(@status.recipient_id).getProfile %>
</p>

<p>
  <strong>Content:</strong>
  <%= @status.content %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
