<%
  #Local variables allow for independence but not sure about the security of this
  userHero = current_user.getHero(current_user.id)
%>
<h3 style="margin-bottom: 0; padding-bottom: 0;"> Meanwhile in HeroWorld </h3>
<h5 style="margin-top: 0; padding-top: 0;"> (aka. last 10 Actions) </h5>
<div class="action-button-bar">
  <div class="action-button-left">
    <%= button_to "Shake a leg", {action: "createAction", controller: 'actions', heroId: userHero.id, actionType: "move"},
    method: :post, remote: true, class: "btn btn-success"%>
  </div>
  <div class="action-button-left">
    <%= link_to 'Adventure', {action: "createAction", controller: 'actions', heroId: userHero.id, actionType: "adventure"},
    method: :post, remote: true, class: "btn btn-warning"%>
  </div>
</div>
<br>
<div class="action-scroller">
  <div class="action-scroller-content">
      <%
      #TODO: Look into moving this functionality to action controller
        Action.all.limit(10).order(created_at: :desc).each do |action|
      %>
        <div class="action">
          <div class="row">
            <div class="display-gravatar">
              <%= image_tag("Hero_Generic.png", alt: "Hero Generic", size: "50x100")%>
            </div>
            <div class = "display-status">
              <strong>
                <%= "At the " + action.location %>
              </strong>
              <p>
                <%= action.result %>
              </p>
              <div>
                <%= time_ago_in_words(action.created_at) + " ago"%>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>