<div class="row">
  <div class="span4">
    <%=
      # Use SimpleForm to auto-generate our label and fields, then add bootstrap styling
      simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "well"}) do |f|
    %>
      <% # Field set logically organizes form data
        %>
      <fieldset>
        <legend>Log In</legend>
        <%= f.input :email %>
        <%= f.input :password %>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%=
              #Converts input into a check box
              f.input :remember_me, as: :boolean
            %>
          </div>
      </fieldset>
      <% end %>

      <div class="actions">
        <%= f.button :submit, "Log in" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
  <div class="span8">
    <h2>To Adventure!</h2>
    <%= image_tag("Hero_Icon.png", alt: "Hero_Icon")%>
  </div>
</div>
