<!-- Change Data -->
<div class="row">
	<div class="span8">
		<% if @hero.errors.any? %>
			<div id="error_explanation">
			<h3><%= pluralize(@hero.errors.count, "error") %> prohibited this hero from being updated:</h3>
			<ul>
				<% @hero.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
			</div>
		<% end %>
	</div>
</div>
<% unless @hero.nil? %>
	<div class="row">
		<div class="span4">
			<%= simple_form_for(@hero, html: {class: "simple_form well"}) do |f| %>
				<fieldset>
					<legend>Edit "<%= @hero.name %>"</legend>
					<div>
						<%= f.input :name %><hr>
						Level: <%= @hero.level %><br>
						Gear: <%= @hero.weapon %><br>
						Armor: <%= @hero.armor %><br>
						Location: <%= @hero.location %><br>
						Gold: <%= @hero.gold %><br>
						Status: <%= @hero.state %><hr>
					</div>
					<div class="actions">
						<%= f.submit "Update" %>
					</div>
				</fieldset>
			<% end %>
			</div>
			<div class="span8">
				<h2>Question yourself!</h2>
				<%= image_tag("Hero_Generic.png", alt: "Hero Generic", size: "100x100")%>
			</div>
		</div>
	</div>
<% end %>
