  <div class="row">
    <div class="span8">
      <% if @hero.errors.any? %>
          <div id="error_explanation">
            <h3><%= pluralize(@hero.errors.count, "error") %> prohibited this hero from being saved:</h3>
            <ul>
            <% @hero.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
      <% end %>
    </div>
  </div>
<div class="row">
  <div class="span4">
  <%= simple_form_for(@hero, html: {class: "simple_form well"}) do |f| %>
    <fieldset>
      <legend>Create a Hero</legend>
      <div>
        <%= f.input :name %>
        <br>
      </div>
      <div class="actions">
        <%=
          #Hidden field
          f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }
        %>
        <%= f.button :submit %>
      </div>
    </fieldset>
  <% end %>
  </div>
  <div class="span8">
    <h2>Join!</h2>
    <%= image_tag("Hero_Generic.png", alt: "Hero Generic", size: "100x100")%>
  </div>
</div>
