<div class = "page-header">
  <%if  @hero %>
    <h3>About <%= @hero.name %></h3>
  <% else %>
    <h3>Hero for <%= @hero.user.profile_name %> not found</h3>
  <% end %>
</div>
<!--TODO: Remove duplicate code from actions/_index -->
<div class="row">
  <% if @hero %>
    <%= render partial: "profiles/hero", locals: { user: User.first } %>
    <div>
      <br>
      <%= link_to "Edit Hero" , edit_hero_path(@hero.id)%>
      |
      <%= link_to "Delete Hero" , @hero, method: :delete, data: { confirm: 'Are you sure you want to delete this hero?' } %>
    </div>
    <h3>The epic journey of <%= @hero.name %></h3>
    <% if @actions %>
      <div>
          <!-- TODO: Create unique css for this view -->
          <% @actions.each do |action| %>
            <div class="action-scroller">
              <div class="action-scroller-content">
                <div class="action">
                  <div class="row">
                    <div class="display-gravatar"></div>
                      <div class = "display-status">
                        <strong>
                          <%= "At the " + action.location %>
                        </strong>
                        <p>
                          <%= action.result %>
                        </p>
                          <div>
                            <%= time_ago_in_words(action.created_at) + " ago"%>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            <%end%>
        <% else %>
          <div class="well">
            <hr />
            No Actions to display.
          </div>
        <% end %>
      </div>
    <% else %>
      <hr />
      No hero to display.
  <% end %>
</div>