// Used by Hero Actions
.action {
	border-bottom: solid 1px #D2ACAC;
	padding: 5px 0;
}

//Use on external div to hide/place the scroller scrollbar
.action-scroller{
	margin-top: 10px;
	padding:6px 5px 6px 1px;
	border: 2px solid #B27C7C;
	background: #EDCCCC;
	border-radius: 15px;

	width: 95%;
	max-height: 500px;
}

//Scrolling box
.action-scroller-content{
	max-height: 500px;
	width: 424px; //Overides  boot strap
	overflow-y: auto;
}

//Custom scroller style based on:
//https://css-tricks.com/custom-scrollbars-in-webkit/
//Published May 2, 2011 by Chris Coyier

.action-scroller-content::-webkit-scrollbar{
	width: 12px;
}

.action-scroller-content::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}

.action-scroller-content::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.action-button-bar
{
	padding-bottom: 10px;
}
.action-button-left
{
	width: 40%;
	float: left;
}

.action-button-right
{
	width: 40%;
	float: right;
}