/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body { padding-top : 40px;} /*To account for bootstrap fixed nav bar*/

 .alert {
	margin-top : 10px;
 }

/* Will be used in future */
 .status-col {
	float: left;
	width: 47.5%;
 }

 .actions-col {
	float: right;
	width: 47.5%;
	padding-right: 5%;
 }

/* Footer settings */
.footer-padding{
	height: 100px;
}

 .footer-bar {
	position: fixed;
	bottom: 0px;
	width:100%;
	padding-top: 10px;
	font-size: 12px;
	background-color: #000000;
	color: #666666;
 }

 .credits {
	font-style: italic;
	font-weight: bold;
	color: #777777;
	text-align: center;
 }

 .footer-left {
	float: left;
	padding-left: 5px;
 }

 .footer-right {
	float: right;
	padding-right: 5px;
 }

 .license {
	text-align: center;
	width:100%;
 }