// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero-stats{
	border: 2px solid #B27C7C;
	/* top/bottom right/left */
	padding: 5px 2px;
	background: #EDCCCC;
	border-radius: 15px;
	margin-right: 50%;
 }

#heroTable th{
	padding: 0px 5px 0px 10px;
	text-align: left;
}

#heroTable td{
	padding: 0px 5px 0px 50px;
}