// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Classes

[class*="display"] {
	float: left;
	min-height: 1px;
}

.display-gravatar{
	width: auto;
	padding-left: 30px;
}

.display-status{
	padding-left: 10px;
	max-width: 70%;
	width: auto;
}

.status {
	border-bottom: solid 1px #CCC;
	padding: 5px 0;
}

.status-title {
  padding-bottom: 5px;
  margin: 20px 0 15px;
  border-bottom: 1px solid #eeeeee;
}

.status p {
	margin: 4px 0;
}


//Hide content from non-admin
.status .admin {
	display: none;
}

//Hover class is added via Coffee/JavaScript
.status .hover {
	background: #FAFAFA;
}

.status.hover .admin {
	display: inline;
}

//Use on external div to hide/place the scroller scrollbar
.status-scroller{
	margin-top: 10px;
	padding:6px 5px 6px 1px;
	border: 2px solid #A1A1A1;
	background: #DCDCDC;
	border-radius: 15px;

	width: 95%;
	max-height: 500px;
}

//Scrolling box
.status-scroller-content{
	max-height: 500px;
	overflow-y: auto;
}

//Custom scroller style based on:
//https://css-tricks.com/custom-scrollbars-in-webkit/
//Published May 2, 2011 by Chris Coyier

.status-scroller-content::-webkit-scrollbar {
    width: 12px;
}

.status-scroller-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.status-scroller-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}